@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
  font-family: "Open Sans", sans-serif;
  /* background-color: #ebe9e9 !important; */
}
*{
  margin: 0;
  padding: 0;
}
